#calc{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin: 10rem 10rem 0 10rem;
	width: 24rem;
	height: auto;
	border: 5px solid black;
	border-radius: 20px;
	background-color: tan;
	}
#title{
	font-size: 30px;
	margin-top: 10px;
}	

	

#screen{
	display: flex;
	flex-direction: column;
	width:20rem;
	height: 3rem;
	font-size: 3rem;
	border: 1px solid black;
	text-align: right;
	border:2px solid black;
	margin: 10px 10px 10px 10px;
	background-color: white;

}
.func{
	background-color: pink;
}
.number{
	background-color: purple;
}
.clear{
	background-color: red;
}
.keypad button{
	width: 5rem;
	height: 5rem;
	font-size: 2rem; 
	border-radius: 20%;
	margin: 5px 5px 5px 5px;
	
}
#zero{
	width:10.5rem;
}
#equal{
	height: 10.5rem;
	margin-bottom: -5rem;
}

.row1{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}
.row2{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}
.row3{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}
.row4{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}
.row5{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}